<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="manifest.json">
    <title>Test</title>
    <style>
        
        #gear-icon {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <form action="/settings" method="post">
    <input type="hidden" name="settings" value="true">
    <img id="gear-icon" src="gear.svg" alt="Gear icon" onclick="this.parentNode.submit()">
</form>
    <h1>Test</h1>
    <h2>Test 2</h2>
    <textarea id="text-box" rows="10" cols="50"></textarea>
    <br>
    <button id="test-button">Test 3</button>
</body>
<script src="botler.js" defer></script>
</html>